<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.registerLab.mappers.EquipoMapper">
	<select id="getEquipo" parameterType="map" resultMap="EquipoResult">
		SELECT *
		From equipo
		WHERE id=#{id} 
	</select>
	
	<insert parameterType="map" id="insertarEquipoSinLaboratorio">
        INSERT INTO equipo (id,fechainicioactividad, fechafinactividad , fechaadquisicion) VALUES (#{idE},#{feiniact},#{fefinact},#{feadq})
    </insert>
    
    <update parameterType="map" id="asociarElemento">
    	UPDATE elemento set equipo=#{idequi}
    	where id=#{Elementos.getIndex(0).id} and id=#{Elementos.getIndex(1).id} and id=#{Elementos.getIndex(2).id}
    </update>
    
    <update parameterType="map" id="cambioAsociacionElemento">
    	UPDATE elemento set equipo=#{equipo}
    	where id=#{elemento}
    </update>
 
	
	<resultMap type='Equipo' id='EquipoResult'>
	    <id property='id' column='id'/>
	    <result property="fechaInicioActividad" column="fechainicioactividad"></result>
	    <result property="fechaFinActividad" column="fechafinactividad"></result>
	    <result property="fechaAdquisicion" column="fechaadquisicion"></result>
	    <association property="elementos" resultMap="com.registerLab.mappers.ElementoMapper.ElementoResult"/>     
	</resultMap>
</mapper>