<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.registerLab.mappers.LaboratorioMapper">

	<!-- 
	Example consulta
	Select id as id_laboratorio form laboratorio where ....
	
	 -->
	 
	 <insert parameterType="map" id="agregarLaboratorio">
	 	insert into laboratorio (id,nombre,capacidad,fechacierre) 
	 	value (#{Id},#{Nom},#{capacidad},#{fecha}) 
	 </insert>
	 
	 <update parameterType="map" id="asociarEquipo">
    	UPDATE equipo set laboratorio = #{laboratorio}
    	where id = #{equipo}
    </update>
    
	<resultMap type='Laboratorio' id='LaboratorioResult'>
	    <id property='id' column='id_laboratorio'/>
	    <result property="nombre" column="nombre"></result>
	    <result property="capacidad" column="capacidad"></result>
	    <result property="fechaCierre" column="fechacierre"></result>
	    <collection property="equipos" resultMap="com.registerLab.mappers.EquipoMapper"/>       
	</resultMap>
	
</mapper>